* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Metal", serif;
}

h2.titulo {
    color: black;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: rgb(255, 76, 207);
}

.flex {
    display: flex;
}

body {
    color: black;
    background-color: white;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem rgb(255, 56, 202);
    width: 100%;
    background-color: white;
    transition: all 0.5s;
    text-decoration: none;
}


.navigation ul {
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style-type: none;

}

.navigation ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    transition: all 0, 5s;
    text-decoration: none;
    display: inline-block;
}

.navigation ul li a:hover {
    color: rgb(255, 56, 202);
    transform: scale(1.05);
}





header .contato button {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 155, 228);
    border: 0px;
    border-radius: 30px;
    display: inline-block;
    transition: .2s;
    cursor: pointer;
}

header .contato button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px rgb(243, 0, 178);
}

/* estilo do topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    font-size: 50px;
    line-height: 70px;
}

.topo-do-site .txt-topo-site h1 span {
    color: rgb(255, 137, 224);
    font-size: 62px;
}

.topo-do-site .txt-topo-site p {
    margin: 40px 0px;
    font-size: 20px;
}

.btn-contato button {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 155, 228);
    border: 0px;
    border-radius: 30px;
    display: inline-block;
    transition: .2s;
    cursor: pointer;
}

.btn-contato button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px rgb(255, 0, 187);
}

/* colocando animação d se mover na logo começo */
.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 700px;
    height: 700px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* colocando animação d se mover na logo  fim */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgb(255, 114, 217);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: rgb(255, 76, 207);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0px;
}



/* SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: black;
}


.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: rgb(255, 137, 224);
    display: block;
}

.sobre .txt-sobre p {
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 155, 228);
    font-size: 23px;
    cursor: pointer;
    margin: 0px 6px;
}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0px 0px 8px rgb(255, 0, 187);
    transform: scale(1.05);
    transition: .2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}