* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Metal", serif;
}


body {
    color: black;
    background-color: white;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem rgb(255, 56, 202);
    width: 100%;
    background-color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style-type: none;

}

.navigation ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    transition: all 0, 5s;
    text-decoration: none;
    display: inline-block;
}

.navigation ul li a:hover {
    color: rgb(255, 56, 202);
    transform: scale(1.05);
}



header .contato button {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 155, 228);
    border: 0px;
    border-radius: 30px;
    display: inline-block;
    transition: .2s;
    cursor: pointer;
}

header .contato button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px rgb(243, 0, 178);
}

/*interface*/

section.topo-do-site {
    padding: 40px 4%;
    align-items: center;
    display: flex;

}

.topo-do-site .txt-topo-site h1 {
    margin-top: 40px;
    font-size: 50px;
    color:black ;
}

.topo-do-site .txt-topo-site p {
    font-size: 20px;
}

.topo-do-site .img-topo-site img {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 100px;
}

@media screen and (max-width: 1400px){
    section.topo-do-site {
        padding: 40px 4%;
        display: inline;   
    }
    
    .topo-do-site .img-topo-site img{
        margin-left: 20px;
    }

    .topo-do-site .txt-topo-site h1{
        margin-left: 50px;
    }

    .topo-do-site .txt-topo-site p{
        margin-left: 15px;
        width: 690px;
        height: 250px;
    }

    /*navigation*/
    .navigation {
        display: none;
    }

}